<% if isInstagram == "true" %>
    <div class="col-12 text-center footer-container-instagram">
<% else %>
    <div class="footer-container" style="background-color:#333333 ">
<% end %>
    <p style="margin-bottom: 0"> ©︎ 2020 turituri08</p>
</div>
