<% if isInstagram == "true" %>
    <div class="footer-container-instagram">
<% else %>
    <div class="footer-container" style="background-color: <%= color %>;">
<% end %>
    <p> ©︎ 2020 turituri08</p>
</div>