<div class="header-container">
    <div class="header-left">
        <a href="/">
            <img class="header-img" src="/assets/logo-black.gif" alt="logo">
        </a>
        <p class="header-title-black"><a href="/">Catch Trends!</a></p>
    </div>
    
    <div class="header-right">
        <a href="/twitter"><img class="header-img" src="/assets/twitter-black.png" alt="twitter-logo"></a>
        <a href="/instagram"><img class="header-img" src="/assets/instagram-black.png" alt="instagram-logo"></a>
        <a href="/linkedin"><img class="header-img" src="/assets/linkedin-black.png" alt="linkedin-logo"></a>
        <a href="/tiktok"><img class="header-img" src="/assets/tiktok-black.png" alt="tiktok-logo"></a>
    </div>
</div>