<div class="top-wrapper row">
  <div class="container-fluid top-wrapper-contents">
    <div class="row no-gutters">
  <div class="col-12 Catch-up">
<h1 class="text-center"> Catch up on trends!</h1>
</div>
</div>
<div class= "container-fluid sns-wrapper" style="padding-top: 80px;">
  <div class="row no-gutters justify-content-between sns-icons">
    <div class="col-12 col-sm-2 ml-md-5 rounded-circle" style="background: #000000;">
    <img src="<%= asset_path('tiktok-white.png') %>" class="sns-image">
  </div>
    <div class="col-12 col-sm-2 rounded-circle" style="background: #1DA1F2;">
    <img src="<%= asset_path('twitter-white.png') %>" class="sns-image">
  </div>
    <div class="col-12 col-sm-2 rounded-circle instagram-image">
    <img src="<%= asset_path('instagram-white.png') %>" class="sns-image">
  </div>
    <div class="col-12 col-sm-2 mr-md-5 rounded-circle" style="background: #0274B3;">
    <img src="<%= asset_path('linkedin-white.png') %>" class="sns-image">
  </div>
  </div>
</div>
<div class="container-fluid top-under">
  <div class="row text-center" style="padding-top:60px;">
  <div class="col-12 "><h2>一瞬で一瞬を捉えよう</h2></div>
<div class="col-12 text-white-50"><p>あなたのお気に入りのSNSはなんですか？</p></div>
<div class="col-12 text-white-50"><p>アイコンをクリックして一週間のいいね獲得数ランキングをチェックしよう</p></div>
</div>
</div>
</div>
</div>
