@media screen and (max-width: 576px) {
    
    .header-title-black{
        font-size: 10px;
    }

    .header-img{
        height: 20px;
        padding-left:0px;
        padding-right: 10px;
    }

    .header-title{
        font-size: 17px;
        height: 20px;
        line-height: 20px;
    }
    
    .header-title-black{
        font-size: 17px;
        height: 20px;
        line-height: 20px;
    }
}