// Place all the styles related to the sns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-text-container{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.top-text{
    font-size: 20px;
    font-weight: bold;
}

.tweet_wrapper{
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

.rank{
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
}

.form_wrapper{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
}

@media screen and (max-width: 576px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .top-text{
        font-size: 3.5vw;
    }

    .tweet_wrapper{
        padding: 20px 10px;
    }

    .form_wrapper{
        flex-direction: column;
        align-items: center;
    }

    form{
        display: flex;
        flex-direction: column;
    }
}